& {
  &[data-fontSize='s2'] {
    font-size: var(--font-size-s2);
  }

  &[data-fontSize='s'] {
    font-size: var(--font-size-s);
  }

  &[data-fontSize='m'] {
    font-size: var(--font-size-m);
  }

  &[data-fontSize='l'] {
    font-size: var(--font-size-l);
  }

  &[data-fontSize='l2'] {
    font-size: var(--font-size-l2);
  }

  &[data-fontSize='l3'] {
    font-size: var(--font-size-l3);
  }

  &[data-fontSize='l4'] {
    font-size: var(--font-size-l4);
  }

  &[data-fontSize='l5'] {
    font-size: var(--font-size-l5);
  }

  &[data-fontSize='unset'] {
    font-size: unset;
  }
}
